#
# Example Chef Client Config File
#
# You can generate the client.rb with correct settings with knife:
#
#     knife configure client ./config

log_level          :info
log_location       STDOUT
ssl_verify_mode    :verify_none
chef_server_url    "https://api.opscode.com/organizations/ORGNAME"

client_key             "/etc/chef/client.pem"

validation_client_name "ORGNAME-validator"
