# This file is provided as an example when using the Opscode Platform
# as the Chef Server. You were prompted to download a config file
# when you signed up for the Opscode Platform that looks like this.
#
# Replace USERNAME with your Opscode username and ORGNAME
# with your Opscode Platform organization name.
#
current_dir = File.dirname(__FILE__)
log_level                :info
log_location             STDOUT
node_name                "USERNAME"
client_key               "#{current_dir}/USERNAME.pem"
validation_client_name   "ORGANIZATION-validator"
validation_key           "#{current_dir}/ORGANIZATION-validator.pem"
chef_server_url          "https://api.opscode.com/organizations/ORGANIZATION"
cache_type               'BasicFile'
cache_options( :path => "#{ENV['HOME']}/.chef/checksums" )
cookbook_path            ["#{current_dir}/../cookbooks"]
