#
# Chef Server Config File
#
# We recommend using Opscode's chef cookbook for managing chef itself,
# instead of using this file. It is provided as an example.

log_level          :info
log_location       STDOUT
ssl_verify_mode    :verify_none
chef_server_url    "http://chef.example.com:4000"

signing_ca_path    "/srv/chef/ca"
couchdb_database   'chef'

cookbook_path      [ "/srv/chef/cookbooks", "/srv/chef/site-cookbooks" ]

file_cache_path    "/srv/chef/cache"
node_path          "/srv/chef/nodes"
openid_store_path  "/srv/chef/openid/store"
openid_cstore_path "/srv/chef/openid/cstore"
search_index_path  "/srv/chef/search_index"
role_path          "/srv/chef/roles"

validation_client_name "chef-validator"
validation_key         "/etc/chef/validation.pem"
client_key             "/etc/chef/client.pem"
web_ui_client_name     "chef-webui"
web_ui_key             "/etc/chef/webui.pem"

# change this as required.
#web_ui_admin_user_name "admin"
#web_ui_admin_default_password "replace_with_something_secure"

supportdir = "/srv/chef/support"
solr_jetty_path File.join(supportdir, "solr", "jetty")
solr_data_path  File.join(supportdir, "solr", "data")
solr_home_path  File.join(supportdir, "solr", "home")
solr_heap_size  "256M"

umask 0022

Mixlib::Log::Formatter.show_time = false
